@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-color: #000000; /* Black */
  --background-color: #CCCCCC; /* Lighter gray */
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color); /* Use a lighter gray here */
}

.card-neumorphism {
  border-radius: 50px;
  background: #141414;
  box-shadow: -20px 20px 43px #121212, 20px -20px 43px #161616;
}

[data-rk] [aria-labelledby="rk_connect_title"] {
  z-index: 2147483645 !important;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Projects.module.css */

.select-container {
  position: relative;
}

.selected-category {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  pointer-events: none;
  color: #495057;
}

.select-wrapper {
  position: relative;
}

.select-dropdown {
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.react-tagsinput-tag {
  background-color: #000;
  border-radius: 2px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 900;
  margin-bottom: auto;
  margin-right: auto;
  padding: 5px;
}

.react-tagsinput {
  background-color: #fff;
  border: 2px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
  border-color: #a5d24a;
}

.react-tagsinput-tag {
  background-color: #000;
  border-radius: 20px;
  border: 1px solid #000;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

/* Add this CSS to your stylesheet */

.card-container {
  overflow-y: auto;
  max-height: 80vh; /* Set a maximum height for the card to enable scrolling */
}

.card-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.card-container::-webkit-scrollbar-track {
  background: #dbdada; /* Color of the scrollbar track */
  border-radius: 4px; /* Rounded corners of the thumb */
  border-color: #000;
}

.card-container::-webkit-scrollbar-thumb {
  background: #000000; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the thumb */
  border-color: #000;

}

.card-container::-webkit-scrollbar-thumb:hover {
  background: #000000; /* Color of the scrollbar thumb on hover */
  border-color: #000;
  cursor: pointer; /* Change cursor to pointer on hover */
}
